<center>
<table>
<% var i; for (i=0; i < quizes.length; i++){ %>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
<br>
<form id="buscarQuizes" method="get" action="/quizes">
	<input type="text" name="search" placeholder="texto a buscar">
	<input type="submit" value="Busca un quiz">
</form>
<br>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</center>
